body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.weather-info{
    height: 300px;
    width: 485px;
    position: relative;
    margin: 100px auto;
    align-content: center;
    background: white;
    border-radius: 20px;
    border: 2px solid grey;
}