body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}


.current{
    background: blue;
    font-size: x-large;
    animation: alternate;
    justify-content: center;
}

.forecast{
    background: blue;
    font-size: x-large;
    animation: alternate;
    justify-content: center;
}
.uvi{
    background: blue;
    font-size: x-large;
    animation: alternate;
    justify-content: center;
    position: relative;
    align-content: center;
}


.weather-info{
    height: 300px;
    width: 485px;
    position: relative;
    margin: 100px auto;
    align-content: center;
    background: white;
    border-radius: 20px;
    border: 2px solid grey;
}