
.Rounded-borders {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Error-container {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 20%;
    height: 5%;
    background: darkred;
    color: white;

    text-align: center;
    vertical-align: middle;
    line-height: 5%;
}

.Error-message {
    font-size: 23px;
}

