
.Rounded-borders {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.Error-container {
    margin: 20px 10px 20px 10px;
    width: 25%;
    background: darkred;
    color: black;
    text-align: center;
    vertical-align: middle;
    padding: 10px 10px 10px 10px;
}

.Error-message {
    font-size: 20px;
}

